<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpor2t" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" type="text/css" href="/b.css">

<body>
    <h1 style="text-align: center;">create auction </h1>
    <form action="/user/create/<%= k %>" method="POST">
        <div class="l">
            <input type="text" name="name"  class="in" placeholder="name of item">
            <input type="text" class="in" name="link" placeholder="link of image">
            <input type="number" class="in" name="price" placeholder="base price">
            <input type="date" class="in" name="date" placeholder="date of auction">
            <select name="type" class="in"> type
                <option value="art">art</option>
                <option value="antique">antique</option>
                <option value="used">used</option>
            </select>
            <button type="submit">create</button>
        </div>
        </form>

        </body>
</html>