<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpor2t" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" type="text/css" href="/create.css">

<body>
    <form action="/<%= k %>/create" method="POST">    
        <div class="login-box">
            <h2 >Create Auction </h2>
            <div class="user-box"> <input type="text" name="name"  class="in" placeholder="Name of item" required> </div>
           <div class="user-box"> <input type="text" class="in" name="link" placeholder="Link of image" required> </div>
           <div class="user-box"> <input type="number" class="in" name="price" placeholder="Base price" required> </div>
            <select name="type" class="in"> type
                <option value="art">Art</option>
                <option value="antique">Antique</option>
                <option value="used">Used</option>
            </select>
            <button type="submit">Create</button>
        </div>
        </form>

        </body>
</html>