<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpor2t" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="b.css">
</head>
<body>
    <h1>create auction </h1>
    <form action="/user/<%= k %>/create" method="POST">
        <div class="l">
            <input type="text"  class="in" placeholder="name of item">
            <input type="text" class="in" placeholder="link of image">
            <input type="number" class="in" placeholder="base price">
            <input type="date" class="in" placeholder="date of auction">
            <button type="submit">create</button>
        </div>
        </form>

        </body>
</html>