<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="b.css">
</head>
<body>
    <div class="box">
        <h1 style="text-align: center;">register</h1>
        <form action="/register">
            <input class="in" type="text" placeholder="name">
            <input class="in" type="text" placeholder="email">
            <button class="btn" type="submit">register</button>
        </form>
    </div>
</body>
</html>