.box{
    border: solid;
}

.in{
    display: inline;
    height: 50px;
    width: 200px;
    border: solid;
    border-radius: 20px;
}

.l{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item{
    background-color: black;
    color: white;
    border: solid red;
}